<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean class="com.example.demo.Doctor" id="t1">
<constructor-arg value="101"></constructor-arg>
<constructor-arg value="mayuri"></constructor-arg>
<constructor-arg value="mayuri@gmail.com"></constructor-arg>
<constructor-arg ref="t2"></constructor-arg>

</bean>

<bean class="com.example.demo.Patients" id="t2">
 <constructor-arg value="909"></constructor-arg>
 <constructor-arg value="madhura"></constructor-arg>
  <constructor-arg value="fever"></constructor-arg>
 </bean>
</beans>