<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.exmaple.metro.employee"  id="t1">
    <property name="eid" value="101"></property>
     <property name="ename" value="mayuri"></property>
      <property name="eemail" value="mayuri@gmail.com"></property>
       <property name="eaddress" value="pune"></property>
    
    </bean>
 <bean class="com.exmaple.metro.employee"  id="t2">
    <property name="eid" value="202"></property>
     <property name="ename" value="mayur"></property>
      <property name="eemail" value="mayur@gmail.com"></property>
       <property name="eaddress" value="patharud"></property>
    
    </bean>
    
    
    
    
    </beans>